<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Онлайн магазин</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../products">Продукти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../carts/index">Кошик</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= button_to 'Profile', edit_user_registration_path %></li>
        <li class="nav-item"><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= button_to 'Sign up', new_user_registration_path %></li>
        <li class="nav-item"><%= button_to 'Log in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>
